body {
    font-family: "Cairo", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root {
    --color-primary: #c2996d;
    --color-dark: #000;
    --color-gray: #777;
    --color-light: #f5f3ef;
    --color-white: #fff;
    --color-secondry: #160244;
}
.primary-color {
  color: var(--color-primary)
}
.section-container {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 960px) {
    .section-container {
        width: 90%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 540px) {
    .section-container {
        width: 80%;
        margin: 0 auto;
    }
}


/* whatsapp */
.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .whatsapp-icon {
    margin-top: 16px;
  }

  /* for mobile */
  @media screen and (max-width: 767px){
    .whatsapp-icon {
      margin-top: 10px;
    }
    .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
    }
  }
/* whatsapp */
